# 持久卷目录
VOLUMES_PATH=./volumes
# 网络
NETWORKS_DRIVER=bridge

# gitlab
GITLAB_VERSION=15.3.4-ce.0
GITLAB_HOST_NAME=10.3.10.43
GITLAB_WEB_PORT=8180

# JENKINS_VERSION
JENKINS_VERSION=lts
JENKINS_PORT=8280
JENKINS_JNLP_PORT=50000