# 持久卷目录
VOLUMES_PATH=./volumes
# 网络
NETWORKS_DRIVER=bridge

################## gitea ##################
GITEA_VERSION=1.18.0
GITEA_WEB_PORT=8800
GITEA_SSH_PORT=2221
GITEA_DB_NAME=gitea
GITEA_DB_USER=gitea
GITEA_DB_PWD=gitea
GITEA_HOST=127.0.0.1

################## jenkins ##################
JENKINS_VERSION = lts
JENKINS_PORT = 19090
JENKINS_JNLP_PORT = 50000
JENKINS_DOCKER_SOCK=/var/run/docker.sock
# 查看本地docker，whereis docker
JENKINS_DOCKER=/usr/local/bin/docker
# centos7在这个路径，不添加
LIBLTDL_SO=/usr/lib64/libltdl.so.7